[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
httpie = "*"
coverage = "*"
selenium = "*"

[packages]
flask = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
email-validator = "*"
python-dotenv = "*"
flask-httpauth = "*"

[requires]
python_version = "3.8"
