[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
email-validator = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
