{% extends "layout.html" %}
{% import "partials/macros.html" as macros %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% if endpoint == 'main.posts' %}
        {% if current_user.can(Permission.WRITE) %}
            <form method="POST" action="">
                {{ form.csrf_token }}

                {{ form.body.label }}
                {{ form.body }}

                {{ form.title.label }}
                {{ form.title }}

                {{ form.submit }}
            </form>
        {% endif %}
    {% endif %}

    <div>
        <h1>{{ title }}</h1>
        {% include "partials/_posts.html" %}
    </div>

    <div>
        {{ macros.pagination(pagination, endpoint) }}
    </div>
{% endblock %}