{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
<div>
    <h1>{{ user.username }}</h1>
    <img src="{{ user.avatar(size='256') }}" alt="user avatar">
    <a href="{{ url_for('user.edit_account') }}"><button>edit account</button></a>
    {% if current_user.is_admin() %}
        <a href="{{ url_for('admin.edit_user', id=user.id) }}"><button>edit account [Admin]</button></a>
    {% endif %}
    <div>
        {% if user.name %}<p>{{ user.name }}</p>{% endif %}
        {% if user.location %}<p>{{ user.location }}</p>{% endif %}
        {% if current_user.is_admin() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>member since <span class="time">{{ user.member_since }}</span></p>
        <p>last seen <span class="time">{{ user.last_seen }}</span></p>
    </div>
    
</div>
{% endblock %}