{% extends "layout.html" %}
{% import "partials/macros.html" as macro %}
{% block title %}{{ user.username }}{% endblock %}

{% block body %}
<div>
    <h1>{{ user.username }}</h1>
    <img src="{{ user.avatar(size='256') }}" alt="user avatar">
    <div>
        {% if current_user == user %}
            <a href="{{ url_for('user.edit_account') }}"><button>edit account</button></a>
        {% endif %}
        {% if current_user.is_admin() %}
            <a href="{{ url_for('admin.edit_user', id=user.id) }}"><button>edit account [Admin]</button></a>
        {% endif %}
    </div>
    
    <p>
    {% if current_user.can(Permission.FOLLOW) and user != current_user %}
        {% if not current_user.is_following(user) %}
            <a href="{{ url_for('user.follow', username=user.username) }}">Follow</a>
        {% else %}
            <a href="{{ url_for('user.unfollow', username=user.username) }}">Unfollow</a>
        {% endif %}
    {% endif %}
    </p>
    
    <a href="{{ url_for('user.followers', username=user.username) }}">
        Followers: {{ user.followers.count() }}
    </a>
    <br>
    <a href="{{ url_for('user.followed_by', username=user.username)}}">
        Following: {{ user.followed.count() }}
    </a>

    {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
        <p>Follows you</p>
    {% endif %}
    <div>
        {% if user.name %}<p>{{ user.name }}</p>{% endif %}
        {% if user.location %}<p>{{ user.location }}</p>{% endif %}
        {% if current_user.is_admin() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>member since <span class="time">{{ user.member_since }}</span></p>
        <p>last seen <span class="time">{{ user.last_seen }}</span></p>
    </div>

    <div>
        <h3>Posts</h3>
        {% if posts %}
            {% include "partials/_posts.html" %}
        {% else %}
            <p>no posts</p>
        {% endif %}
    </div>

    <div>
        {{ macro.pagination(pagination, 'user.profile', username=user.username) }}
    </div>
    
</div>
{% endblock %}