{% extends "layout.html" %}
{% import "partials/macros.html" as macro %}
{% block title %}Moderate comments{% endblock %}

{% block body %}
<h1>Moderate comments</h1>

{% for comment in comments %}
<div class="post">
    <a href="{{ url_for('user.profile', username=comment.author.username) }}">
        {{ comment.author.username }}
    </a>
    <p class="time">{{ comment.timestamp }}</p>
    <p>{{ comment.body }}</p>

    {% if current_user.can(Permission.MODERATE) or current_user == comment.author %}
    <form action="{{ url_for('main.delete_comment', comment_id=comment.id, post_id=comment.post.id) }}"
        method="POST">
        <input type="submit" value="delete">
    </form>
    {% endif %}
    <a href="{{ url_for('main.post', id=comment.post.id) }}">Go to post</a>

</div>
{% endfor %}

<div>
    {{ macro.pagination(pagination, endpoint) }}
</div>

{% endblock %}