<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Blog</title>
    <!-- third-party css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css')}}">
    <!-- project css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <li><a href="{{ url_for('main.index') }}">Home page</a></li>
        {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('user.profile', username=current_user.username) }}">Profile</a>
            </li>
            <li><img src="{{ user.avatar(size='32') }}" alt="user avatar"></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Sign up</a></li>
        {% endif %}
    </nav>

    <!-- flashed messages -->
    <div>
        <ul>
            {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- end flashed messages -->

    <main class="container">
        {% block body %}
        {% endblock %}
    </main>

    <!-- third-party javascript -->
    <script src="{{ url_for('static', filename='vendor/js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/js/moment-with-locales.js')}}"></script>
    
    <!-- project javascript -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>